/* WebStudio */
body {
  color: #212121;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
:root {
  --color: rgba(33, 150, 243, 1);
  --color-back: rgba(117, 117, 117, 1);
  --color-text: rgba(255, 255, 255, 1);
  --color-box: rgba(47, 48, 58, 1);
  --color-body: rgba(33, 33, 33, 1);
  --color-image: rgb(245, 244, 250, 1);
  --color-mine: rgb(229, 229, 229);
  --color-mail: rgba(255, 255, 255, 0.6);
  --color-line: rgba(236, 236, 236, 1);
  --color-none: rgba(0, 0, 0, 1);
}
section{
  padding-bottom: 94px;
  padding-top: 94px;
}
.container{
  position: relative;
    width: 1600px;
    height: 2349px;
}

.list-01{
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;

}

.headline-2 {
  width: 352px;
    height: 42px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 0;
}
.image-1{
  width: 370px;
    height: 294px;
}
.image-2{
width: 370px;
  height: 294px;
}
.image-3{
  width: 370px;
    height: 294px;
}

.box-3 {
  position: absolute;
  width: 1170px;
  height: 386px;
  left: 215px;
  top: 969px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
width: 200px;
  height: 50px;
  font-family: 'Roboto';
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  /* identical to box height, or 188% */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  background-color: var(--color);
  color: var(--color-text);
}

.button:hover,
.button:focus {
  background-color: var(--color);
  color: var(--color-body);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-1 {
  font-family: 'Roboto';
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  /* identical to box height, or 162% */
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--color-image);
}

.button-1:hover,
.button-1:focus {
  background-color: var(--color);
  color: var(--color-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.link {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.link:hover,
.link:focus {
  color: var(--color);
}

.text-1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
}

.basic-text-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;
  color: var(--color-back);
}

.text {
  font-size: 18px;
  line-height: 1.6;
}

.basic-text {
  font-size: 16px;
  line-height: 1.8;
  color: var(--color-back);
}

.mail-1 {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--color-mail);
}

.link-0 {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--color-text);
}

.link-0:hover,
.link-0:focus {
  color: var(--color);
}

.mail-1:hover,
.mail-1:focus {
  color: var(--color);
}

.web {
  color: var(--color);
}

.logo-0 {
  font-family: 'Raleway';
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--color-text);
}

.logo-0:hover,
.logo-0:focus {
  color: var(--color);
}
.box{
  position: absolute;
    width: 1600px;
    height: 80px;
    display: flex;
    align-items: center;
    border: 1px;
    list-style: none;
}
.links-01{
  align-items: center;
}
.links{
    width: 254px;
    height: 16px;
    margin-left: 93px;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.mail-01{
  width: 135px;
    height: 16px;
    margin-left: 371px;
}
.mail-02{
  width: 110px;
    height: 16px;
    margin-left: 50px;
}

.logo {
    width: 145px;
    height: 31px;
    margin-left: 215px;
  text-decoration: none;
  color: inherit;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo:hover,
.logo:focus {
  color: var(--color);
}

.mails{
  display: flex;
  list-style: none;
}
.mail{
  text-decoration: none;
  color: var(--color-back);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}

.mail:hover,
.mail:focus {
  color: var(--color);
}

.box-4 {
  background-color: var(--color-image);
    position: absolute;
      width: 1600px;
      height: 648px;
      top: 1449px;
  justify-content: center;
}
.images{
  display: flex;
  list-style: none;
    width: 1170px;
    height: 368px;
    align-items: center;
}

.box-5 {
  background-color: var(--color-box);
  position: absolute;
    width: 1600px;
    height: 252px;
    top: 2097px;
}

.box-1 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1600px;
  height: 600px;
  top: 80px;
  background-color: var(--color-box);
}

.headline-button{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;

}

.headline {
  width: 696px;
    height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-text);
}

.headline-3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.list {
  width: 1170px;
  height: 101px;
  list-style: none;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: space-between;

}

.list-02 {
  position: absolute;
  left: 215px;
  top: 774px;
  width: 1170px;
  height: 101px;
  display: flex;
  align-items: center;
}

.Lorem-ipsum-1 {
  width: 270px;
    height: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.Lorem-ipsum-2 {
  width: 270px;
    height: 75px;
  color: var(--color-back);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.nickname {
  color: var(--color-back);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
